{
    "execs": "a_1dconv",
    "model": {
        "lr": 0.01,
        "batch_size": 32,
        "max_epochs": 100,
        "raw_audio_extractor_units": [1, 8, 32, 64, 128],
        "raw_audio_latent_time_units": 16,
        "classifier_units": [1024, 512, 128]
    },
    "dataset": {}
}